<!DOCTYPE html>

<html>

    <head>

        <title>ScoreBox Water Polo Overlay</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/overlay.css">

    </head>

    <body>

        <div id="scorebox">
            <div id="home" class="team-box">
                <div class="team-logo">
                </div>
                <div class="team-name">
                    Troy
                </div>
                <div class="team-mascot">
                    Warriors
                </div>
                <div class="team-score" id="home-score">
                    0
                </div>
            </div>
            <div id="clock" class="clock-box">
                <div id="game-clock">
                    4:29
                </div>
                <div id="shot-clock">
                    14
                </div>
                <div id="period">
                    1st
                </div>
            </div>
            <div id="visitor" class="team-box">
                <div class="team-logo">
                </div>
                <div class="team-name">
                    Fullerton
                </div>
                <div class="team-mascot">
                    Indians
                </div>
                <div class="team-score" id="visitor-score">
                    0
                </div>
            </div>
        </div>
    
        <script src="/static/third-party/socket.io.min.js"></script>
        <script src="/static/overlay.js"></script>

    </body>

</html>